 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row text-center">
                <div class="col-lg-10 col-lg-offset-1">
                    <p><strong>Hello!</strong></p>
                    <p>My name is Raúl Fuente Vallina and I’m a Full Stack Freelance Software Engineer from Asturias (north of Spain). I love developing quality software and productive apps. My goal is to help customers to improve their business through flawless and elegant software solutions.</p>
                </div>
            </div>
            <div class="row top-buffer">
            {% for tech in site.data.technologies %}
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <div class="panel tech-group">
                      <div class="panel-heading tech-group-title">
                        <h3 class="panel-title">{{ tech.key }}</h3>
                      </div>
                      <div class="panel-body tech-group-content">
                        <ul class="list-unstyled">
                        {% for value in tech.values %}
                            <li>{{ value }}</li>
                        {% endfor %}
                        </ul>
                      </div>
                    </div>
                </div>
            {% endfor %}
            </div>
            <div class="row top-buffer">
                <div class="col-lg-10 col-lg-offset-1">
                    <p>I love doing outdoor activities specially those which are in contact with nature like surfing and hiking. I'm also a great devotee of music.</p>
                    <p>Inspiration is essential when you are a freelancer. Below are some quotes that are useful in my day-to-day.</p>
                    </div>
                    <div class="row top-buffer">
                        <blockquote>
                          <p>To achieve, you need thought. You have to know what you are doing and that's real power</p>
                          <footer>Ayn Rand</footer>
                        </blockquote>
                        <blockquote>
                          <p>You will never do anything in this world without courage. It is the greatest quality of the mind next to honor</p>
                          <footer>Aristotle</footer>
                        </blockquote>
                        <blockquote>
                          <p>I admire how advanced societies achieved a peaceful coexistence by means of respecting rules</p>
                          <footer>Me</footer>
                        </blockquote>
                    </div>
                </div>
            </div>
            <div class="row top-buffer">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                    <img src="img/gallery1-xs.jpg"/>
                    <div class="text-center">
                        <small >test dd</small>
                    </div>
                </div>
            </div>
    </section>