 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row text-center">
                <div class="col-lg-10 col-lg-offset-1">
                    <p><img src="img/profile3.png"/></p>
                    <p><strong>Hello!</strong></p>
                    <p>My name is Raúl Fuente Vallina and I’m a Full Stack Freelance Software Engineer from Asturias (north of Spain). I love developing quality software and productive apps. My goal is to help customers to improve their business through flawless and elegant software solutions.</p>
                </div>
            </div>
            <div class="row top-buffer">
            {% for tech in site.data.technologies %}
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <div class="panel tech-group">
                      <div class="panel-heading tech-group-title">
                        <h3 class="panel-title">{{ tech.key }}</h3>
                      </div>
                      <div class="panel-body tech-group-content">
                        <ul class="list-unstyled">
                        {% for value in tech.values %}
                            <li>{{ value }}</li>
                        {% endfor %}
                        </ul>
                      </div>
                    </div>
                </div>
            {% endfor %}
            </div>
            <div class="row top-buffer">
                <div class="col-lg-10 col-lg-offset-1">
                    <div class="row top-buffer">
                        <blockquote>
                          <p>Throughout the centuries there were men who took first steps down new roads armed with nothing but their own vision</p>
                          <footer>Ayn Rand</footer>
                        </blockquote>
                        <blockquote>
                          <p>You will never do anything in this world without courage. It is the greatest quality of the mind next to honor</p>
                          <footer>Aristotle</footer>
                        </blockquote>
                    </div>
                </div>
            </div>
    </section>