 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row text-center">
                <div class="col-lg-8 col-lg-offset-2">
                    <p><strong>Hello!</strong></p>
                    <p>My name is Raúl Fuente Vallina and I’m a Full Stack Freelance Software Engineer from Asturias (north of Spain). I love developing quality software and productive apps. My goal is to help customers to improve their business through flawless and elegant software solutions.</p>
                </div>
            </div>
            <div class="row top-buffer">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <div class="panel tech-group">
                      <div class="panel-heading tech-group-title">
                        <h3 class="panel-title">Backend</h3>
                      </div>
                      <div class="panel-body tech-group-content">
                        <ul class="list-unstyled">
                            <li>Node.js</li>
                            <li>Java</li>
                            <li>Spring Framework</li>
                            <li>AWS</li>
                            <li>Google Cloud</li>
                            <li>Heroku</li>
                        </ul>
                      </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <div class="panel tech-group">
                      <div class="panel-heading tech-group-title">
                        <h3 class="panel-title">Frontend</h3>
                      </div>
                      <div class="panel-body tech-group-content">
                        <ul class="list-unstyled">
                            <li>jQuery</li>
                            <li>Angular</li>
                            <li>React</li>
                        </ul>
                      </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <div class="panel tech-group">
                      <div class="panel-heading tech-group-title">
                        <h3 class="panel-title">Databases</h3>
                      </div>
                      <div class="panel-body tech-group-content">
                        <ul class="list-unstyled">
                            <li>MongoDB</li>
                            <li>Redis</li>
                            <li>PostgreSQL</li>
                            <li>MySQL</li>
                        </ul>
                      </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <div class="panel tech-group">
                      <div class="panel-heading tech-group-title">
                        <h3 class="panel-title">E-Commerce API's</h3>
                      </div>
                      <div class="panel-body tech-group-content">
                        <ul class="list-unstyled">
                            <li>eBay</li>
                            <li>Amazon</li>
                            <li>Shopify</li>
                            <li>BigCommerce</li>
                            <li>Weebly</li>
                            <li>Etsy</li>
                        </ul>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </section>