    <!-- Header -->
    <header class="blog">
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@rfvallina">
        <meta name="twitter:creator" content="@rfvallina">
        <meta name="twitter:title" content="Raul F. Vallina - Software Engineer">
        <meta name="twitter:description" content="Freelance Software Engineer. Ecommerce Integration Expert, Ebay/Amazon/Shopify API's, Full-Stack developer, Java, Node.js, Vue, DevOps">
        <meta name="twitter:image" content="http://rfvallina.com/img/portada.png">
        <meta name="twitter:image:alt" content="Raul F. Vallina - Software Engineer">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!--<img class="img-responsive" src="img/profile.png" alt="">-->
                    <div class="intro-text">
                        <span class="title">{{ page.title }}</span>
                        <span class="skills">by <a class="header" href="{{ site.url }}">rfvallina</a></span>
                        <p class="small top-buffer">Posted {{ page.date | date: "%b %d, %Y" }} in {% for tag in page.tags %}
                            <span class="label label-white"><a href="/blog/tag/{{ tag }}">{{ tag }}</a></span>
                        {% endfor %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </header>