    <!-- Header -->
    <header class="blog">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!--<img class="img-responsive" src="img/profile.png" alt="">-->
                    <div class="intro-text">
                        <span class="title">{{ page.title }}</span>
                        <span class="skills">by <a class="header" href="{{ site.url }}">rfvallina</a></span>
                        <p class="small top-buffer">Posted {{ page.date | date: "%b %d, %Y" }} in {% for tag in page.tags %}
                            <span class="label label-white"><a href="/blog/tag/{{ tag }}">{{ tag }}</a></span>
                        {% endfor %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </header>