
    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Portfolio</h2>
                    <hr class="star-primary">
                </div>
            </div>
            
                {% for cat in site.data.portfolio-categories %}
                    <h3 class="portfolio-category">{{ cat.name }}</h3>
                    <div class="row">                 
                        {% for post in site.categories[cat.key] %}
                            <div class="col-lg-3 col-xl-3 col-md-4 col-sm-6 portfolio-item">                        
                                <a href="#portfolioModal-{{ post.modal-id }}" class="portfolio-link" data-toggle="modal"> 
                                    <div class="caption">
                                        <div class="caption-content">
                                            {{ post.title }}<br>                                  
                                            <p class="small">{{ post.technologies }}</p>
                                        </div>
                                    </div>
                                    <img src="img/portfolio/{{ post.img }}" class="img-responsive" alt="{{ post.alt }}">
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
                
            
        </div>
    </section>