<div class="top-buffer text-center">
	<ul class="list-inline">
	    <li>
	    	<a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" class="btn-social btn-outline" title="Share on Twitter" style="border: 2px solid #{{ site.color.secondary }}; color: #{{ site.color.primary }};"><i class="fa fa-fw fa-twitter"></i></a>
	    </li>
	    <li>
	    	<a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" class="btn-social btn-outline" title="Share on Facebook" style="border: 2px solid #{{ site.color.secondary }}; color: #{{ site.color.primary }};"><i class="fa fa-fw fa-facebook"></i></a>
	    </li>
	    <li>
	    	<a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" class="btn-social btn-outline" title="Share on Google+" style="border: 2px solid #{{ site.color.secondary }}; color: #{{ site.color.primary }};"><i class="fa fa-fw fa-google"></i></a>
	    </li>
	</ul>
</div>