<!DOCTYPE html>
<html>
    {% include head.html %}
    {% include header_blog.html %}
    <body id="page-top" class="index">

	<div class="container">

    	{% assign postsByYear =
        site.categories.blog | group_by_exp:"post", "post.date | date: '%Y'" %}
        
        {% assign lastYearDisplayed = '' %}
        {% for year in postsByYear %}
            {% assign lastYear = forloop.last %}
          	{% for post in year.items %}
          		{% if post.tags contains page.tag %}	
                    {% if lastYearDisplayed == year.name %}
                        {% assign yearDisplay = '&nbsp;' %} 
                    {% else %}
                        {% assign yearDisplay = year.name %}    
                    {% endif %}
                    <article>
                    <div class="row">
                        <div class="col-sm-1"><span class="year">{{ yearDisplay }}</span></div>
                		<div class="col-sm-1"><span class="month">{{ post.date | date: "%b %d" }}</span></div>
                		<div class="col-sm-10">
                            <div class="title"><a href="{{ post.url }}">{{ post.title }}</a></div>
                            <div class="text-muted">
                                posted on 
                                {% for tag in post.tags %}
                                    <span class="label label-default"><a class="link-white" href="/blog/tag/{{ tag }}">{{ tag }}</a></span>
                                {% endfor %}
                            </div> 
                        </div>
                        </div>
                    </article>
                    <hr>
                    {% assign lastYearDisplayed = yearDisplay %}  
                {% endif %}    	
          	{% endfor %}   	
        {% endfor %}

    </div>

	{% include footer.html %}
	{% include js.html %}
    </body>
</html>