<!DOCTYPE html>
<html>
    {% include head.html %}
    {% include header_post.html %}
    <body id="page-top" class="index">

<article role="article">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <!--<h1>{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}</h1>-->
        <div class="meta">
        <!--  written {% include post/date.html %}{% if updated %}{{ updated }}{% else %}{{ time }}{% endif %}
          {% include post/categories.html %}-->
        </div>
        <div class="top-buffer">
        {{ content }}
        </div>

{% include social_buttons.html %}

        <hr class="divider-short"/>

        {% if site.disqus_shortname and page.comments == true %}
        <section>
          <h1>Comments</h1>
          <div id="disqus_thread" aria-live="polite">{% include post/disqus_thread.html %}</div>
        </section>
        {% endif %}
      </div>
    </div>
  </div>
</article>


<hr class="divider-short"/>


<div class="archive-link">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">

        {% for post in site.categories.blog %}
        {% if post.url == page.url %}
            {% assign post_index0 = forloop.index0 %}
            {% assign post_index1 = forloop.index %}
        {% endif %}
        {% endfor %}
        {% for post in site.categories.blog %}
            {% if post_index0 == forloop.index %}
                {% assign next_post = post.url %}
                {% assign next_post_title = post.title %}
            {% endif %}
            {% if post_index1 == forloop.index0 %}
                {% assign prev_post = post.url %}
                {% assign prev_post_title = post.title %}
            {% endif %}
        {% endfor %}
        {% if prev_post %}
            <a class="pull-left" href="{{ prev_post }}">&laquo; Prev: {{ prev_post_title }}</a>
        {% endif %}
        {% if next_post %}
            <a class="pull-right" href="{{ next_post }}">Next: {{ next_post_title }} &raquo;</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% include footer.html %}
    {% include js.html %}
    </body>
</html>